body {
    background-color: #121212;
}

h1 {
    font-family: bahnschrift;
    text-align: center;
    color: azure;
    font-size: 50px;
}

h2 {
    font-family: bahnschrift;
    text-align: center;
    color: azure;
    font-size: 40px;
}

p {
    font-family: bahnschrift;
    text-align: center;
    color: azure;
    font-size: 20px;
}